<h1>Main</h1>

<div class="container">
 <!-- menu -->
   <h1>My Collection</h1>
   <h1>New Game</h1>
   <h1>Exit Game</h1>

</div>

<div class="container">

  <h1>My Dashboard</h1>
  <h2><%= @user.username %></h2>
  <h3>Wins : <%= @user.stat.wins %></h3>
  <h3>Losses : <%= @user.stat.losses%></h3>
  <% @user_cards.each do |card| %>
    <div class="ui-card" data-id="<%= card.id %>">

      <header class="content">
        <span class="avatar-details">
          <h2><%= card.name %></h2>
          <h3><%= card.special %></h3>
        </span>
      </header>

      <div class="avatar-image">
        <%=image_tag card.image_url %>
      </div>

      <div class="content">
        <h4>Earth</h4>
        <span class="pull-right"><%= card.earth %></span>
        <h4>Wind</h4>
        <span class="pull-right"><%= card.wind %></span>
        <h4>Fire</h4>
        <span class="pull-right"><%= card.fire %></span>
      </div>

    </div>
  <% end %>

</div>

</div>

<div class="container">
  <h1>New Game</h1>
  <h2>Online Opponents</h2>
  <button id="opponent-btn">View Available Opponents</button>

    <ul class="opponent-list">

    </ul>

  <!-- display opponents -->
  <!-- select opponent
  button to challenge opponent -->
  <button id="btn-find-match">Find Match</button>
</div>


<div class="container">
  <h1>Exit Game</h1>

</div>

<div class="container" id="game">
</div>

<div class="container" id="waiting">
  <h2>WAITING</h2>
</div>


</div>
