<div class="container menu">
 <!-- menu -->

  <button class="mainpage-btn valign-wrapper" id="dashboard" ><i class="main-icons material-icons prefix">dashboard</i>my dashboard</button>
  <button class="mainpage-btn valign-wrapper" id="newgame" ><i class="main-icons material-icons prefix">contacts</i>new game</button>

  <%= form_tag '/logout', method: 'post' do %>
    <button class="mainpage-btn valign-wrapper" id="logout" ><i class="main-icons material-icons prefix">replay</i>exit game</button>
  <% end %>

</div>


<div class="container dashboard">

<% #!-- dashboard, cards and stats -%>
  <%- #display of your stats -%>
  <div class="row topbit">
    <div class="col s6 center-align" >My Dashboard</div>
    <div class="col s5 center-align"><%= @user.username %></div>
    <div class="col s1 center-align"><button class="dashPage-btn" id="returnFromDashboard" ><i class="material-icons prefix">home</i></button></div>
  </div>
  <div class="row wins center-align">

    <div class="stats">
    </div>

  </div>

  <div class="my-cards center-align">
    <% @user_cards.each do |card| %>
      <div class="ui-card" data-id="<%= card.id %>">

        <header class="content">
          <span class="avatar-details">
            <h2><%= card.name %></h2>
            <h3><%= card.special %></h3>
          </span>
        </header>

        <div class="avatar-image">
          <%=image_tag card.image_url %>
        </div>

        <div class="content">
          <div class="power earth left-align">
            <h4>Earth</h4>
            <span class="right"><%= card.earth %></span>
          </div>
          <div class="power wind left-align">
            <h4>Wind</h4>
            <span class="right"><%= card.wind %></span>
          </div>
          <div class="power fire left-align">
            <h4>Fire</h4>
            <span class="right"><%= card.fire %></span>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>

<div class="newgame">
  <!-- contains spinner while we wait for a match -->
  <div class="topbit" >waiting for match ....</div>

  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <div class="center-align">
    <button class="mainpage-btn" id="returnFromGame" ><i class="material-icons prefix">home</i></button>
  </div>
</div>


<%- #this displays the three cards sampled -%>
<div class="container play-card-screen center-align" id="game">
  <h2 class="game-header topbit">The Game</h2>
  <h4>Select a category from a card below to battle</h4>
  <div class="my-battle-cards center-align"></div>
<%- #handlebars appends 3 sampled cards from your collection using script below -%>
  <div class="chosen-card"></div>
</div>


<%-#this is the battle screen that displays the chosen cards after you select your card to play -%>
<div class="container battle-screen" id="battle-screen">
  <h2 class="topbit">Battle Screen</h2>
  <div class="row">
    <div class="your-card col s6 slideRight">
      <%- #handlebars appends your chosen card using script below -%>
    </div>
    <div class="opponent-card col s6 right">
      <%- #handlebars appends your opponent's card using script below -%>
    </div>
  </div>
</div>

<div class="container winner-screen" id="winner">
  <h1 class="outcome"></h1>
  <button class="finish" >return to my dashboard</button>
  <p class="card-outcome"></p>
  <p class="no-cards">you are out of cards, one pity card will be added to your collection!</p>
</div>

<%-# this is the template for each of the 3 cards sampled from your collection -%>
<script id="card-template" type="text/x-handlebars-template">
  <div class="ui-card " data-id={{id}}>
    <header class="content">
      <span class="avatar-details">
        <h2>{{ name }}</h2>
        <h3>{{ special }}</h3>
      </span>
    </header>

    <div class="avatar-image">
      <img src="/images/{{image_url}}">
    </div>

    <div class="content">
      <div class="power earth left-align">
        <h4>Earth</h4>
        <span class="right">{{earth}}</span>
      </div>
      <div class="power wind left-align">
        <h4>Wind</h4>
        <span class="right">{{wind}}</span>
      </div>
      <div class="power fire left-align">
        <h4>Fire</h4>
        <span class="right">{{fire}}</span>
      </div>
    </div>

  </div>
</script>

<%-# this is the template for the chosen card that you want to play -%>
<script id="battle-card-template" type="text/x-handlebars-template">
  <h2 class="card-name">{{name}}</h2>
  <h3 class="special">{{special}}</h3>
  <h3 class="power-name">{{powername}}</h3>
  <h4 class="power-val">{{powerval}}</h4>
  <div class="battle-image">
    <div class="avatar-image">
      <img src="/images/{{image_url}}">
    </div>
  </div>
</script>

<script id="stats-template" type="text/x-handlebars-template">
  <div class="col s6">Wins: {{wins}}</div>
  <div class="col s6">Losses: {{losses}}</div>

</script>
