
<div class="container menu">
 <!-- menu -->

  <button class="mainpage-btn" id="dashboard" >my dashboard</button>
  <button class="mainpage-btn" id="newgame" >new game</button>

  <%= form_tag '/logout', method: 'post' do %>
    <button class="mainpage-btn" id="logout" >exit game</button>
  <% end %>

</div>


<div class="container dashboard">
<% #!-- dashboard, cards and stats -%>
  <%- #display of your stats -%>
  <div class="row topbit">
    <div class="col s7" >My Dashboard</div>
    <div class="col s5"><%= @user.username %></div>
  </div>
  <div class="row wins">
    <div class="stats">
    </div>
  </div>

  <div class="my-cards">
    <% @user_cards.each do |card| %>
      <div class="ui-card" data-id="<%= card.id %>">

        <header class="content">
          <span class="avatar-details">
            <h2><%= card.name %></h2>
            <h3><%= card.special %></h3>
          </span>
        </header>

        <div class="avatar-image">
          <%=image_tag card.image_url %>
        </div>

        <div class="content">
          <div class="power earth">
            <h4>Earth</h4>
            <span class="right"><%= card.earth %></span>
          </div>
          <div class="power wind">
            <h4>Wind</h4>
            <span class="right"><%= card.wind %></span>
          </div>
          <div class="power fire">
            <h4>Fire</h4>
            <span class="right"><%= card.fire %></span>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>

<div class="newgame">
  <!-- contains spinner while we wait for a match -->
  <div class="topbit" >waiting for match ....</div>

  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <button class="mainpage-btn" id="returnFromGame" >return</button>

</div>


<%- #this displays the three cards sampled -%>
<div class="container play-card-screen" id="game">
  <h2 class="game-header topbit">The Game</h2>
  <h4>Select a category from a card below to battle</h4>
  <div class="my-battle-cards"></div>
<%- #handlebars appends 3 sampled cards from your collection using script below -%>
  <div class="chosen-card"></div>
</div>


<%-#this is the battle screen that displays the chosen cards after you select your card to play -%>
<div class="container battle-screen" id="battle-screen">
  <h2>Battle Screen</h2>
  <div class="your-card">
<%- #handlebars appends your chosen card using script below -%>
  </div>
  <div class="opponent-card">
<%- #handlebars appends your opponent's card using script below -%>
  </div>
</div>

<div class="container winner-screen" id="winner">
  <h1 class="outcome"></h1>
  <h2 class="finish">FINISH</h2>
  <p class="card-outcome"></p>
  <p class="no-cards">You are out of cards. One pity card will be added to your collection!</p>
</div>

<%-# this is the template for each of the 3 cards sampled from your collection -%>
<script id="card-template" type="text/x-handlebars-template">
  <div class="ui-card" data-id={{id}}>
    <header class="content">
      <span class="avatar-details">
        <h2>{{ name }}</h2>
        <h3>{{ special }}</h3>
      </span>
    </header>

    <div class="avatar-image">
      <img src="/images/{{image_url}}">
    </div>

    <div class="content">
      <div class="power earth">
        <h4>Earth</h4>
        <span class="right">{{earth}}</span>
      </div>
      <div class="power wind">
        <h4>Wind</h4>
        <span class="right">{{wind}}</span>
      </div>
      <div class="power fire">
        <h4>Fire</h4>
        <span class="right">{{fire}}</span>
      </div>
    </div>

  </div>
</script>

<%-# this is the template for the chosen card that you want to play -%>
<script id="battle-card-template" type="text/x-handlebars-template">
  <div class="ui-card">
    <h2 class="card-name">{{name}}</h2>
    <h3 class="special">{{special}}</h3>
    <div class="avatar-image">
      <img src="/images/{{image_url}}">
    </div>
    <h3 class="power-name">{{powername}}</h3>
    <h4 class="power-val">{{powerval}}</h4>
  </div>
</script>

<script id="stats-template" type="text/x-handlebars-template">
  <div class="col s6">Wins: {{wins}}</div>
  <div class="col s6">Losses: {{losses}}</div>
  <% #insert button(s) to navigate away -%>
  <button class="mainpage-btn" id="returnFromDashboard" >return</button>

</script>
